<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="title">Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form class="example-form">
                <table class="table-ex" cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" [(ngModel)]="name" name="name" required>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="pass"type="password" name="password" required>
                  </mat-form-field></td>
                </tr></table>
              </form>
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="login()" color="primary">Login</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>